
@{
    ViewBag.Title = "Contact";
}
<style>
    img {
        margin-top: 100px;
    }
</style>

<h2>If you have any issues or suggestions for our app please let us know</h2>
<div>Email: recitrack@hotmail.com</div>
<div>Phone: +1-231-652-9845</div>


<img src="~/Content/Images/Logo.png" />