@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Recitrac</h1>
    <p class="lead">Keeping track of all your home recipes</p>
    <p>Choose from one of the options below</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>View Recipes from a Certain Cuisine</h2>
        <p>
            Search Recipes Based on Cuisine
        </p>
        <p>@Html.ActionLink("Search Users", "EditDisplay", "Recipe")</p>
    </div>
    <div class="col-md-4">
        <h2>View Recipes Based On Users</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p>@Html.ActionLink("Search Users", "EditDisplay", "Recipe")</p>
    </div>
    <div class="col-md-4">
        <h2>Add Your Own Recipe</h2>
        <p>You can easily add your own recipe by providing a link or instructions</p>
        <p><@Html.ActionLink("Search Users", "EditDisplay", "Recipe")</p>
    </div>
</div>